@font-face {
    font-family: 'Inter';
    src: local('Inter 18pt Bold'), local('Inter18pt-Bold'),
        url('../fonts/Inter18pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter 18pt Regular'), local('Inter18pt-Regular'),
        url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

